
// Odin Project Landing Page

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100vh;
    background: #E5E7EB;
}

$mainFont: 'Arial';
$darkBlue: #1F2937;
$secondaryColor: #E5E7EB;
$buttonColor: #3882F6;

@mixin bringCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

// ----------------------------- // HEADER

header {
    background: $darkBlue;
    width: 100%;
    height: 4.5em;
    user-select: none;
    & .siteHeader {
        width: 100%;
        height: 100%;
        display: flex;
    }
    & .leftSideHead {       
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        & > h2 {
            display: inline-block;
            padding-left: 1.3em;
            color: white;
            font-family: $mainFont;
            cursor: pointer;
        }
    }
    & .rightSideHead {
        width: 50%;
        height: 100%;
        @include bringCenter();
        & .navLinks {
            color: white;
            font-weight: 100;
            list-style-type: none;
            display: flex;
            gap: 1.3em;
            font-family: $mainFont;
            cursor: pointer;
        }
    }
}

.siteContainer {
    width: 75%;
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
    background: yellow;
}

// ----------------------------- // HERO SECTION

.heroSection {
    height: 23em;
    width: 100%;
    background: $darkBlue;
    & .HERO {
        height: 100%;
        width: 100%;
        display: flex;
    }
    & .leftSideHero {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        & .leftSideContent {
            height: 55%;
            width: 70%;
            margin-right: 3em;
            & > .heroHead {
                font-family: $mainFont;
                font-size: 2em;
                color: #F9FAF8;
                margin-bottom: 0.1em;
            }
            & > p {
                font-family: $mainFont;
                color: $secondaryColor;
                font-size: 0.9em;
                margin-bottom: 0.6em;
            }
            & > button {
                font-family: $mainFont;
                cursor: pointer;
                background: $buttonColor;
                color: white;
                padding: 0.5em 1.6em;
                border: none;
                border-radius: 0.5em;
                margin-left: 0.2em;
            }
        }
    }
    & .rightSideHero {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        & .rightSideContent {
            height: 55%;
            width: 80%;
            background: #6D747D;
            margin-left: 0.5em;
            @include bringCenter();
            & > p {
                color: $secondaryColor;
            }
        }
    }
}

// ----------------------------- // INFORMATION SECTION

.infoSection {
    background: white;
    height: 24em;
    width: 100%;
    & .topInfoSection {
        font-size: 1.1em;
        height: 5em;
        width: 100%;
        @include bringCenter();
        font-family: $mainFont;
        font-weight: 800;
        color: $darkBlue;
    }
    & .bottomInfoSection {
        height: 16em;
        width: 100%;
        @include bringCenter();
        gap: 1.5em;
        & > div {
            height: 14em;
            width: 12%;
            max-width: 150px;
        }
    }
}

.topBox {
    border: 4px solid $buttonColor;
    height: 65%;
    border-radius: 1em;
}

.bottomBox {
    height: 35%;
}

.infoTxt {
    font-size: 0.875em;
    text-align: center;
    padding-top: 0.3em;
    font-family: $mainFont;
    color: #6D747D;
}

// ----------------------------- // QUOTE SECTION

